* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
  outline: 0;

}

/*body,
html{
   display: flex; 
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100vw; 
  height: 100vh;
}*/

.login{
  display: flex;
  justify-content: center;
  
}

.App{

  background: linear-gradient(rgba(243, 243, 142, 0.788), rgba(241, 175, 51, 0.664), rgba(243, 52, 52, 0.596));
  width: 850px;
  height: 1150px;
  border-radius: 25px;
  margin: 0 auto;
};

.loginForm {
    border: 5px;
    margin: 30px auto 0;
    width: 513px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginBtn {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 40%;
  background: linear-gradient(to right, rgba(248, 196, 83, 0.5), rgba(241, 240, 220, 0.575));
  height: 65px;
  justify-content: center;
  border: 3px solid #5D392A;
  border-radius:3px;
  font-size: 30px;
  line-height: 47px;
  color: #5D392A;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn:active {
  position:relative;
  top: 5px;
  box-shadow: none;
}

.btnReturn {
  margin-right: auto;
  align-items:right;
  background: transparent;
  border: none;
  width: 110px;
  height: 65px;
  border-radius: 2px;
  margin-left: 1em;
  font-size: 30px;
  line-height: 47px;
  margin-top: 30px;
  font-weight: bold;
  cursor:pointer;
}

#emailInput, #loginInput {
  height: 82px;
  border: 3px solid #5D392A;
  background: #FFFFFF;
  border-radius: 10px;
  font-size: 36px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.novo{
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #5D392A;
}

.footer {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer a {
  cursor: pointer;
}


  
  
  
