
* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
    outline: 0;

}

.App-cozinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 25px;
    border: 3px solid #F24F13;
}

.cabecalho-kitchen{
    display:flex;
    justify-content:space-between;
    width:100%;
}

.img-logo{
    margin-left: 27%;
   
}

.btn-alterar-Pedido{
    background: linear-gradient(to right,#F24F13,#F28A2E, #F6B06A);
    border: 1px solid #5D392A;
    font-size: 20px;
    font-weight: bold;
    width:15vw;
    height:3.5vh;
    margin-left: 55%;
    margin-right:auto;
    margin-bottom: auto;
    margin-top:2em;
   
  
}

.btn-alterar-Pedido:active {
    position:relative;
    top: 5px;
    box-shadow: none;
  }

  .place-orders{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    height:auto;
    width:auto;
    align-items: center;
    justify-content: center;
    
  }

  .container-requests{
    display:inline-block;
    height:auto;
    width:35vw;
    border: 2px solid #FFB367;
    align-items: center;
    margin:2em;
    justify-content: center;
    font-size:28px;
    font-weight: bold;
  }

  .divProducts{
    height:10em;
  }