
* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
    outline: 0;

}

.App-cozinha{
    background: rgba(243, 243, 108, 0.699);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 25px;
    border: 3px solid #F24F13;
}

.cabecalho-kitchen{
    display:flex;
    justify-content:space-between;
    width:100%;
}

.img-logo{
    margin-left: 27%;
   
}

.btn-alterar-Pedido{
  display:flex;
  justify-content: center;
  background: linear-gradient(to right,#F24F13,#F28A2E, #F6B06A);
  border: 1px solid #5D392A;
  font-size: 20px;
  font-weight: bold;
  width:auto;
  padding: 5px;
  height:50px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: auto;
  margin-top:5em;
  height: 50px;
   
  
}

.btn-alterar-Pedido:active {
    position:relative;
    top: 5px;
    box-shadow: none;
  }

  .place-orders{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    height:auto;
    width:auto;
    align-items: center;
    justify-content: center;
    
  }
  .divName, .divId, .divTable, .divStatus, .divProducts{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top:0.7em;
  }

  .container-requests{
    background: linear-gradient( rgba(87, 27, 27, 0.452), rgba(240, 169, 37, 0.637), rgba(243, 35, 35, 0.527));
    display:inline-block;
    justify-content: center;
    height: 500px;
    width: 380px;
    margin: 30px 25px 0;
    border-radius: 20px;
    border: 0 solid #fff;
    box-shadow: 0 0 10px #f01d1d;
  }

  .divProducts{
    height:10em;
  }